// 1
@font-face {
  font-family: "BillionReach";
  src: url("/fonts/Billion Reach.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "BillionReach";
  src: url("/fonts/Billion Reach.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// 2
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima Nova Regular.otf");
  font-style: medium;
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima Nova Bold.otf");
  font-style: medium;
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima Nova Extrabold.otf");
  font-style: medium;
  font-weight: 800;
}
@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/Proxima Nova Black.otf");
  font-style: medium;
  font-weight: 900;
  font-display: swap;
}

// 3
@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-Black.ttf");
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}
