// FONTS
$font-billion: "BillionReach";
$font-proximaNova: "ProximaNova";
$font-play: "Playfair";
$font-monserrat: "Montserrat";

// COLORS
$purple-primary: #8d64aa;
$pink-primary: #fcddd6;
$gold-primary: #a6895a;

// COLOR USES
$background-pink: $pink-primary;
$background-purple: $purple-primary;

$text-gold: $gold-primary;
$text-white: #fff;
$text-black: #000;

// SIZES AND MEASURES
