.container {
  @apply flex p-0 justify-center;

  .text {
    @apply text-gold-600;
  }

  .main {
    @apply w-full p-0 flex justify-center min-h-screen;

    .left {
      @apply relative flex flex-1 flex-col items-center w-1/2 h-full pt-20;

      .logoContainer {
        width: 400px;
        display: block;
      }

      .title {
        @apply font-playfair;
        font-size: 40px;
        letter-spacing: 0.5px;
      }

      .description {
        @apply font-montserrat mb-8 py-0 px-4 text-center;
      }
    }

    .right {
      @apply relative flex items-center justify-center w-1/2 h-full bg-pink-400;

      .imageContainer {
        @apply relative;
        .profileImage {
          border-top-left-radius: 250px;
          border-top-right-radius: 250px;
        }
      }
      .magic {
        position: absolute;
        right: -100px;
        top: -100px;
        transform: rotate(70deg);
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    .main {
      .left {
        background-color: rgba($background-pink, 0.4);
        @apply pt-4;
        .logoContainer {
          width: 300px;
        }
      }
      .right {
        @apply hidden;
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .container {
    .main {
      @apply p-0;
    }
  }
}
