.container {
  padding: 0;
  display: flex;
  justify-content: center;

  .text {
    color: $text-gold;
  }

  .main {
    min-height: 100vh;
    width: 100%;
    padding: 0;

    display: flex;
    justify-content: center;

    .left {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 100%;
      padding-top: 5rem;

      .logoContainer {
        width: 400px;
        display: block;
      }

      .title {
        font-family: $font-play;
        font-size: 40px;
        letter-spacing: 0.5px;
      }

      .description {
        font-family: $font-monserrat;
        margin-bottom: 2rem;
      }
    }

    .right {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      background-color: $background-pink;

      .imageContainer {
        position: relative;
        .profileImage {
          border-top-left-radius: 250px;
          border-top-right-radius: 250px;
        }
      }
      .magic {
        position: absolute;
        right: -100px;
        top: -100px;
        transform: rotate(70deg);
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .main {
      padding: 0;
    }
  }
}
