.container {
  @apply flex w-3/4 flex-col items-center;

  button {
    @apply mb-8;
    @apply w-full rounded-full py-4 text-lg tracking-widest text-white;
    background-color: $background-purple;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    width: 90%;
    button {
      font-size: small;
      padding: 1rem 1rem;
    }
  }
}
