.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  button {
    margin-bottom: 2rem;
    padding: 1rem 0;
    width: 100%;
    border-radius: 2rem;
    border: none;
    font-size: large;
    background-color: $background-purple;
    color: $text-white;
    letter-spacing: 2px;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    width: 90%;
    button {
      font-size: small;
      padding: 1rem 1rem;
    }
  }
}
